<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="Logo" src="../assets/images/">
</div>
<h2>自己紹介</h2>
<ul>
  <li>
    <h2>Name</h2>
    <h2>{{ name }}</h2>
  </li>
  <li>
    <h2>Age</h2>
    <h2>{{ age }}</h2>
  </li>
  <li>
    <h2>Job</h2>
    <h2>{{ job }}</h2>
  </li>
</ul>
<div>----------------------------------------------------------------------------</div>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/">github</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://twitter.com">twitter</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="">blog</a></h2>
  </li>
</ul>

